---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {% if page.url contains "blog" %}
              <div class="sidebar__right sticky">
              {% include toc.html html=content %}
              </div>
            {% endif %}
            <div class="contents">
              {{ content }}
            </div>
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5n0m6rtnvin&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>

  </body>
</html>
